body {
	font-family: Arial, Sans-serif; 
	font-size: 12px; 
	margin: 0px; 
	line-height:16px; 
	color:#000; 
}
a {
	color:#0ba4eb;
}

.content {
	 margin: 10px; 
	 padding:20px;
	 background-color: #ccc;
}

h1{
	font-family: Arial, Sans-serif; 
	font-size: 20px;
	font-weight:bold; 
}


.item{
	vertical-align:middle;
	width:500px;
	background-color: #fff;
}

.item .text{
	background-color: #ebebeb;
	padding:10px;
}

.item .draggable{
	cursor:move;
}
	
		
#cart{
	float:right;
	background-color: #fff;
	margin-right:20px;
	padding:15px;
	height:530px;
	width:300px;
	
}

.command{
	font-family: Arial, Sans-serif; 
	font-size: 12px;
	font-weight:bold;
	text-align:center;
	border-top:1px solid #ccc;
	padding:15px 0px 15px 0px;
}
	
#cart img{
	padding-right: 10px;
}

#shoppingCart{
	height:400px;
	overflow:auto;
}

#totals{
	font-weight:bold;
}